# HELP petkit_feeder_desiccant_left_days Days before desiccant needs replacing
# TYPE petkit_feeder_desiccant_left_days gauge
petkit_feeder_desiccant_left_days {{ feeder.data.state.desiccantLeftDays }}

